body {
    width: 80%;
    font-family: sans-serif;
    margin: auto; /* center */
}

header {
    text-decoration: underline;
    color:#494040;
    font-size: 10px;
    padding-top: 20px;
}
footer {
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    font-size: 0.7rem;
    color: #494040; 
    clear:both;
    opacity: 0.6;
    border-top: rgb(236, 231, 231) solid 1px;
}


.title_row {
    display: flex; /* for width, multiple div in one row */
    flex-direction: row; /* multiple div in one row */
    width: 100%;
    vertical-align: middle;
}
.titlesubs {
    width: 20%;
    font-size: small;
    text-decoration: underline;
    color:gray;
    padding-left: 20px;
    display: flex; /* for align */
    align-items: center; /* align vertical */
}
.titleblog {
    width: 60%;
    font-family: Times, serif;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size:xx-large;
    display: flex; /* for align */
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.titleimg {
    width: 20%;
    /* text-align: right; */
    padding-right: 20px;
    display: flex; /* for align */
    justify-content: right; /* align right horizontal */
    align-items: center; /* align vertical */
}

.searchmarkimage {
    height:1rem;
    width:1.2rem;
}

.content_table {
    table-layout: fixed;
    width: 100%;    
    border-spacing: 20px 20px;
    border-collapse: separate;
}


.content_table td {
    border-color: rgb(236, 231, 231);
    border-style: solid;
    border-width: 0.3rem;
    margin-right: 50px;
}
    
.content_table tr td {
    padding-top: 20px;
    padding-bottom: 10px;
  }

.world {
    color:#567dd6;
    font-size: 10px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.design {
    color:#61bd7b;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
}

.subtitle {
    padding-left: 10px;
    font-family: Times, serif;
    font-weight: bold;
    font-size:larger;
    opacity: 1;
}

.date {
    color:gray;
    font-size: 10px;
    padding-left: 10px;
}

.content_paragraph {
    opacity: 0.7;
    font-size: 10px;
    padding: 10px;
    padding-bottom: 30px;
}
.continue {
    text-decoration: underline;
    font-size: 0.7rem;
    color:#689eef;
    padding-bottom: 7px;
    padding-left: 10px;
}





/* below is for blogsample.html */

.outer_box {
    width: 100%;
    line-height: 1.5;
    display: flex; /* for width, multiple div in one row */
    flex-direction: row; /* multiple div in one row */
    vertical-align: middle;
    color:#494040;
}

.inner_box1 {
    text-align: justify;
    margin:20px;
    padding:10px;
    width:70%; /* for align */
    align-items: center; /* align vertical */
}

.inner_box2 {
    margin:20px;
    padding:10px;
    width: 30%;
}

.sampledate {
    color:gray;
    font-size: small;
}

.mark {
    color:#567dd6;
    font-size:small;
}

.textcolorblack {
    color: black;
}

.bigtitle {
    font-family: Times, serif;
    font-weight: bold;
    font-size: xx-large;
}

.smalltitle {
    font-family: Times, serif;
    font-weight: bold;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(177, 176, 176);
}

.paragraph_box {
    font-size: small;
}

.about_box {
    background-color: rgba(245, 246, 247, 0.996);
    width: 100%;
}

.aboutboxcontent {
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.exampleblock1 {
    border-style: solid;
    font-size: small;
    border-color: rgb(173, 170, 170);
    margin-bottom: 10px;
    margin-top:10px;
}

.exampleblockcode {
    font-family: "Lucida Console", Monospace;
    border-style: solid;
    border-color: rgb(173, 170, 170);
    margin-bottom: 10px;
    margin-top:10px;
}

.about_archives_elsewhere {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Times, serif;
    font-weight: bold;
    font-size: large;
    font-style: italic;
}


.archives_box {
    color:#567dd6;
    font-size: small;
    text-decoration: underline;
    padding-left:10px;
}

.elsewherebox {
    font-size: small;
    color:#567dd6;
    font-size: small;
    text-decoration: underline;
    padding-left: 10px;
}

.olderandnewer{
    padding:0.8%;
    font-size:small;
    background-color: white;
    margin-top: 5px;
    color:#567dd6;
    border-radius: 20px;
    border-style: solid;
    border-color:#689eef;
}

.newercolor{
    color:#b5b7b6;
    border-color:#b5b7b6;
}
